@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }

  input:focus { outline: none !important; border-color: #74b0ff; box-shadow: 0 0 10px #74b0ff; }

}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}

@layer components {
  fieldset{
    @apply pt-1
  }
  table{
    width:400px;
  }
  th{
    color: #9eabb4;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }

  tbody td{
    padding: 12px 0px !important;
    vertical-align: middle !important;
    color: #53646f;
    font-size: 13px;
    font-weight: 400;
    position:relative;
    line-height: 18px !important;
    border:0 !important;
  }
  
  .gantt{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
  }
  .gantt_timeline{
    @apply p-4;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
  }

  .gantt_timeline_conatiner{

  }
  .gantt_timeline_indicator{
    height:40px;
  }

  .gantt_timeline_cell_container{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .gantt_timeline_cell{
    height:40px;
  }

  .gantt_timeline_divider{
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: hsl(0, 1%, 69%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 2px;
    box-sizing: border-box;
  }

  .button{
    background-color:#f8f8f8;
    margin:10px 0;
    color: #9eabb4;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .output{
    @apply p-4;
    background-color:#f8f8f8;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .output table{
    @apply m-2;
  }
  .output_table th{
    @apply px-2 py-4
  }

  .output_table tbody{
    background: #fff;
  }
}